/* page1 */
.sub1 {
}
.sub1 .inner {
    height: 1500px;
    background: pink;
}

/* page2 */
.sub2 {
}
.sub2 .inner {
    background: #fce4ec;
}
.sub2 .sub-tab {
}
.sub2 .sub-tab .tab {
    display: flex;
}
.sub2 .sub-tab .tab li {
}
.sub2 .sub-tab .tab li a {
    display: block;
    width: 200px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid #dcdcdc;
    text-align: center;
    line-height: 60px;
}
.sub2 .sub-tab .tab li.on a {
    background: tomato;
    color: #fff;
}
.sub2 .sub-tab .con-box {
    margin-top: 60px;
    width: 100%;
    position: relative;
}
.sub2 .sub-tab .con-box .box {
    position: absolute;
    width: 100%;
    display: none;
}
.sub2 .sub-tab .con-box .box.on {
    display: block;
}
.sub2 .sub-tab .con-box .box h3 {
    font-size: 50px;
    padding-top: 50px;
}
.sub2 .sub-tab .con-box .box p {
    margin-top: 30px;
    font-size: 18px;
}
.sub2 .sub-tab .con-box .box1 {
    height: 600px;
    background: pink;
}
.sub2 .sub-tab .con-box .box2 {
    height: 1000px;
    background: skyblue;
}
.sub2 .sub-tab .con-box .box3 {
    height: 1200px;
    background: lime;
}
.sub2 .sub-tab .con-box .box4 {
    height: 400px;
    background: tomato;
}
.sub2 .sub-tab .con-box .box0 {
    height: 800px;
    background: yellow;
}

/* page3 */
.sub3 .inner {
    width: 1500px;
}
.sub3 .con-box .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sub3 .con-box .list li {
    width: 360px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #000;
}
.sub3 .con-box .list li img {
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 2px 5px 0 rgba(200, 190, 190, 0.16), 0 2px 10px 0 rgba(132, 132, 132, 0.43);
}
.sub3 .con-box .list li:hover img {
    transform: scale(1.05);
}
.sub3 .more {
    text-align: center;
    margin-top: 50px;
}
.sub3 .more .btn {
    width: 300px;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    z-index: 50;
    opacity: 0.7;
    display: none;
}
.bg.show {
    display: block;
}
/* 팝업 */
.popup-gallery {
    width: 358px;
    height: auto;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    background: #fff;
    transform: translate(-50%, -50%) scale(0.9);
    border: 1px solid #999;
    opacity: 0;
    pointer-events: none;
}

.popup-gallery.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
    pointer-events: auto;
}

.popup-gallery .gallelry-header {
    display: flex;
    align-items: center;
    padding: 5px 15px 12px 10px;
    justify-content: space-between;
    font-size: 20px;
}

.popup-gallery .gallelry-body {
    position: relative;
}
.popup-gallery .gallelry-body img {
    width: 100%;
    height: 365px;
}
.popup-gallery .gallelry-body strong {
    display: block;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}
.popup-gallery .gallelry-body .btn {
    margin-top: 10px;
}
.popup-gallery .gallelry-body .btn button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
}

/* page4 */
.sub4 {
}
.sub4 .con-box {
    display: flex;
    justify-content: space-between;
}
.sub4 .con-box .video {
    width: 80%;
    height: 700px;
}
.sub4 .con-box .list {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
}
.sub4 .con-box .list div {
    margin-bottom: 20px;
    cursor: pointer;
}
.sub4 .con-box .list div img {
    width: 160px;
}
